<!DOCTYPE html>
<html>
  <head>
    <title>Shikujiri</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <% if user_signed_in? %>
      <header>
      <div class="shikujiri">
        しくじり体験記
      </div>
      <div class="headerbox">
          <%= link_to "ホーム", posts_path %>
          <%= link_to "マイページ", user_path(current_user.id) %>
          <%= link_to "新規投稿", new_post_path %>
      </div>
      </header> 
    <% else %>
      <header>
      <div class="shikujiri">
        しくじり体験記
      </div>
      <div class="headerbox">
          <%= link_to "トップ", hello_index_path %>
          <%= link_to "ログイン", posts_path %>
          <%= link_to "新規登録",new_user_registration_path %>
      </div>
      </header>
    <% end %>
    <%= yield %>
    <footer>
      <p>Copyright © 2021 Kosei Suzuki All Rights Reserved.</p>
    </footer>
  </body>
</html>
